*{
    padding: 0;
    margin: 0;
}



body{
    background: url(./pictures/stars.jpg);
    
}
.sun{
    position: absolute;

}

.sun img{
    width: 15%;
    margin-left: 1200px;
    margin-top: 600px;
    
}
.earth img{
    width: 15%;
    margin-left: 1000px;
    margin-top: 400px;
}

.earth{
    position: absolute;
    animation-name: earth;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes earth {
    0%{
        left: 0;
    }
    100%{
        left: 50px;
        
    }
    
}

 .stars{
    position: relative;
 }
.mars img{
    width: 20%;
    margin-top: 800px;
    margin-left: 900px;

}
.mars{
    position: absolute;
    animation-name: mars;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes mars{
    0%{
        left: 0;
    }
    100%{
        left: 50px;
    }
}

.mercury img{
    width: 20%;
    margin-top: 900px;
    margin-left: 1200px;
}

.mercury{
    position: absolute;
    animation-name: mercury;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes mercury{
    0%{
        left: 0;
    }
    100%{
        left: 50px;
    }
}


.saturn img{
    size: 25%;
    margin-top: 700px;
    margin-left: 1500px
}

.saturn{
    position: absolute;
    animation-name: mercury;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes saturn{
    0%{
        left: 0;
    }
    100%{
        left: 50px;
    }
}
   .jupiter img{
    width: 10%;
    margin-left: 1450px;
    margin-top: 300px;
   }
   
   .jupiter{
    position: absolute;
    animation-name: jupiter;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

   }

   @keyframes jupiter{
    0%{
        left: 0px;
    }
    100%{
        left: 50px;
    }
   }


   .rocket1 img{

        width: 15%;
        margin-left: 600px;
        margin-top: 500px;

   }

   .rocket1{
    position: absolute;
    animation-name: rocket;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-direction: alternate;
    animation-iteration-count: infinite;
   }
    
   @keyframes rocket{
    0%{
        left: 0;
        top: 0;
    }

    50%{
        left: 0;
        transform: scale(1); rotate: 360deg;
    }
    100%{
        left: 900px;
        top: 900px;
    }

   }


   .rocket2 img{
    width: 15%;
    margin-left: 500px;
   }

   .rocket2{
    position: absolute;
    animation-name: rocket2;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-direction: alternate;
    animation-iteration-count: infinite;
   }



   @keyframes rocket2{
    0%{
        left: 800px;
        top: 800px;
    }

    50%{
        left: 0px;
        transform: scale(3); 
    }
    100%{
        left: 900px;
        top: 900px;
    }
}